@use 'variables';
@use 'mixins';


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: variables.$font-base;
  background-color: variables.$color-light;
  color: variables.$color-dark;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
  transition: variables.$color-light 0.2s ease;

  &:hover {
    color: variables.$color-accent;
  }
}

h1, h2, h3, h4 {
  font-family: variables.$font-heading;
  font-weight: 600;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  @include mixins.container;
}