@use 'variables';
@use 'mixins';


.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.product-card {
  @include mixins.card;
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  img {
    width: 100%;
    border-radius: variables.$radius;
    margin-bottom: 1rem;
  }

  .info {
    h3 {
      font-size: 1.125rem;
      font-weight: 600;
    }

    p {
      font-size: 0.9rem;
      color: #6b7280;
    }
  }

  .price {
    font-weight: 700;
    color: variables.$color-dark;
  }

  .out-stock {
    color: #dc2626;
  }
}