@use 'variables';
@use 'mixins';
@use 'buttons';


.cart {
  @include mixins.container;
  margin-block: 2rem;

  .cart-header,
  .cart-item,
  .cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0;
    border-bottom: 1px solid variables.$color-border;
  }

  .cart-total {
    font-weight: 700;
    border-top: 2px solid variables.$color-dark;
  }

  button[data-cartid] {
    @extend .btn--danger !optional;
    font-size: 0.85rem;
    padding: 0.2rem 0.75rem;
  }
}