@use 'variables';
@use 'mixins';
@use 'buttons';


.header {
  @include mixins.headings;
  background-color: variables.$color-header;
  color: white;
  flex-shrink: 0;
  gap: 1rem;
  text-align: center;
  
  .loginp {
    margin: 0.5rem;
    @extend .btn;
  }

  .login {
      color: #ffffffe6;
      font-weight: 400;
      text-decoration: none;
    }

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      text-align: left;
    }

    h2 {
      @include mixins.responsive-font(1.5rem, 2rem);
    }
}