@use 'variables';


// Container centreret på siden
@mixin container {
  max-width: variables.$container-width;
  margin-inline: auto;
  padding-inline: 1rem;
}
// Til header ogsv
@mixin headings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: variables.$container-width;
  margin-inline: auto;
  padding-inline: 1rem;
}

// Card-style genbrugelig
@mixin card {
  background: white;
  border-radius: radius;
  box-shadow: shadow-card;
  padding: 1rem;
}

// Responsiv font
@mixin responsive-font($mobile, $desktop) {
  font-size: mobile;

  @media (min-width: 768px) {
    font-size: desktop;
  }
}