@use 'variables';
@use 'mixins';

.navbar {
  background-color: variables.$color-lighten;
  display: flex;
  padding: 10px 0;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: stretch;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-right: 1rem;
      color: variables.$color-light;

      a {
        font-family: 'ITC Avant Garde Gothic Pro', sans-serif;
        font-size: 14px;
        color: variables.$color-light;
        font-style: normal;
        font-weight: 500;
        text-decoration: none;
        line-height: normal;

        &:hover {
          color: variables.$color-accent;
        }

        &.active {
          color: variables.$color-accent;
          border-bottom: 3px solid variables.$color-accent;
        }
      }
    }
  }
}