// --------- COLORS ---------
$color-light: #f9f9f9;
$color-dark: #111;
$color-accent: #4caf50;
$color-secondary: #3b82f6;
$color-header: #334156;
$color-lighten: #64758B;
$color-lightened: #A3B4CC;
$color-border: #ccc;
$color-underground: #eb251a;

// --------- TYPOGRAPHY ---------
$font-base: 'Inter', system-ui, sans-serif;
$font-heading: 'Montserrat', sans-serif;

// --------- SIZES & SPACING ---------
$radius: 55px;
$gap: 1rem;
$container-width: 1200px;

// --------- SHADOWS ---------
$shadow-card: 0 2px 8px #0000001a;
